.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


input:focus, 
.form-control:focus {
    border-color: #BB2D3B !important; /* Keeps the default border color */
    box-shadow: none !important; /* Removes the blue glow effect */
    outline: none !important; /* Removes any additional focus outline */
}

.custom-border {
  border: 1px solid #BB2D3B !important; /* Example: Red border */
  border-radius: 5px; /* Optional: Rounded corners */
}

.custom-border:focus {
  border-color: #BB2D3B !important; /* Keeps the red border on focus */
  box-shadow: none !important; /* Removes the blue hover border */
  outline: none !important; /* Removes default focus outline */
}

.backgroundcolor{
  background: #BB2D3B;
}

/* clearbutton */

.clearbutton{
  border: none;
  border-radius: 5px;
  box-shadow: #000000;
  font-size: 17px;
  font-weight: 600;
  padding: 5px;
}


/* =======================
        delete-btn
========================== */

.delete-btn{
  position: absolute;
  right: 5px;
  background: #BB2D3B;
  border: none;
  border-radius: 5px;
  color: #000000;
  font-size: 17px;
  cursor: pointer;
}



/* =======================
        edit-btn
========================== */

.edit-btn{
  position: absolute;
  right: 50px;
  background: #BB2D3B;
  border: none;
  border-radius: 5px;
  color: #000000;
  font-size: 17px;
  cursor: pointer;
}






.form-control {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} 


.list-group-item {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
}